*{
    padding: 0px;
    margin: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blueviolet;
    padding-left: 20px;
    padding-bottom: 10px;
    vertical-align: center;
}

.nav .title p{
    padding-top: 10px;
    font-size: 30px;
    color: white;
}

.nav .options {
    padding-top: 15px;
}

.nav .options a{
    text-decoration: none;
    color: black;
    padding:0px 15px ;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.5s;
}

.nav .options a:hover{
    color: white;
    background-color: black;
}

.nav .options .active {
    color: white;
    background-color: black;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

input[type=file]{
    border: 2px black solid;
    margin-top: 20px;
    padding: 10px 20px;
    width: 350px;
}

input[type=submit] {
    margin-top: 10px;
    margin-left: 130px;
    padding: 7px 20px;
    font-size: 15px;
}