<!DOCTYPE html>

<html>
    <head>
        <title>Index | Object Classification</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">

    </head>

    <body>
        <div class="nav">
            <div class="title">
                <p>Object Classification</p>
            </div>

            <div class="options">
                <a href="#" class="active" >Home</a>
                <a href="{{ url_for('gallery') }}">Gallery</a>
                <a href="{{ url_for('video') }}">video</a>
                <a href="{{ url_for('logs') }}">Logs</a>
                <a href="{{ url_for('main') }}">Log out</a>
            </div>
        </div>

        <div class="main">
            <div class="form">
                <form action="/result" method="post" enctype="multipart/form-data">
                    <input type="file" name="img" id="img"> <br> <br>
                    <input type="submit" value="classify">
                </form>
            </div>
        </div>
    </body>

</html>