<!DOCTYPE html>

<html>
    <head>
        <title>Logs | Object Classification</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
    </head>

    <body>
        <div class="nav">
            <div class="title">
                <p>Object Classification</p>
            </div>

            <div class="options">
                <a href="{{ url_for('login') }}">Home</a>
                <a href="{{ url_for('gallery') }}">Gallery</a>
                <a href="{{ url_for('video') }}">video</a>
                <a href="#" class="active" >Logs</a>
                <a href="{{ url_for('main') }}">Log out</a>
            </div>
        </div>

        <div class="log">
            <textarea name="" id="" cols="150" rows="100">
                {% for line in logs %}
                    {{ line }}
                {% endfor %}
            </textarea>
        </div>
    </body>

</html>